body {
  font-family: "Courier New", Courier, monospace;
}

header {
  background-image: url(img/mal20.jpg);
  background-size: cover;
  height: fit-content;
  padding: 20px 0;
}

.header {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.logo {
  display: inline-block;
}
.img-logo {
  width: 100px;
  padding: 10px;
}

.navbar {
  position: absolute;
  top: 70px;
  right: 0;
}

.navbar a {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(255, 43, 43);
  text-decoration: none;
  font-size: 4vh;
}
.navbar a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.navbar li {
  display: inline;
  margin: 0 0 0 15px;
}

main {
  width: 940px;
  margin: 0 auto;
}
.form {
  margin: 40px 20px;
}
.form .principal::content {
  margin-left: 20px;
}

.form label,
.form legend {
  display: block;
  font-size: 22px;
  margin: 0 0 10px;
}
.principal {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-transform: capitalize;

  border: none;
  border-radius: 10px;
  background-color: rgb(175, 58, 58);
  cursor: pointer;
  margin-left: 30px;
}

.enviar:hover {
  background-color: red;
  transition: all ease 0.5s;
  transform: scale(1.1);
}
.horarios {
  margin: 40px;
 
}
.horarios thead {
  background-color: red;
  color: white;
  font-weight: bolder;
}
.horarios td,
.horarios th {
  border: 1px solid black;
  padding: 8px 16px;
}
footer {
  text-align: center;
  background-image: url(img/fondo1.webp);
  background-size: cover;
  padding: 50px;
}
footer .copy {
  color: white;
  font-size: 2.4vh;
}

footer img {
  width: 150px;
}
