* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    background-color: #ece4e3;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .titulo {
    text-align: center;
    border: solid black;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 180px;
    background-color: #c4c4c4;
    padding: 70px;
  }
  
  .form-login {
    width: 400px;
    height: 340px;
    background-color: #fa713b;
    margin: auto;
    margin-top: 240px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #fa713b;
    color: rgb(0, 0, 0);
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #fa713b;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #fa713b;
    color: black;
  }
  
  .form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fa713b;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
  }
  header a {
    text-decoration: none;
    color: black;
  }
  nav {
    position: fixed;
    width: 100%;
    top: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa713b;
  }
  .barra-nav {
    display: flex;
    margin-bottom: 1px;
  }
  .barra-nav a {
    padding: 0rem 4rem;
    font-size: 2rem;
    margin: 0;
    transition: all 0.5s ease;
  }
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Courier New", Courier, monospace;
  }
  .iconos {
    font-size: 1.4rem;
  }
  .iconos a {
    text-decoration: none;
    color: black;
    padding: 2px 20px;
    transition: all 0.5s ease;
  }
  
  .iconos a:hover {
    color: white;
  }
  nav ul li a:hover {
    background-color: black;
    color: white;
  }
  