body {
  
    background-size: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.lista1 {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 20%;
    line-height: 30px;
}

.lista1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.lista1 a:hover {
    color: black;


}

.ejercicios {

    backdrop-filter: blur(100px);
    width: 70%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px black;

}

.ejercicios h1 {
    color: white;
    font-size: 4vh;

}

.ejercicios h2 {
    color: white;

}